@keyframes scale-x-toggle
  from
    transform scaleX(0)
  to
    transform scaleX(1)

@keyframes scale-y-toggle
  from
    transform scaleY(0)
  to
    transform scaleY(1)

@keyframes opacity-toggle
  from
    opacity 0
  to
    opacity 1

@keyframes particle-movement
  0%
    transform rotateZ(0)
  25%
    transform rotateZ(90deg)
  50%
    transform rotateZ(180deg)
  75%
    transform rotateZ(270deg)
  100%
    transform rotateZ(360deg)
