html
    full-size()
    body
        position relative
        full-size()
        background-color $color-bgd
        color $color-txt
        font-family $font-lato
        font-weight 100
        -webkit-text-stroke 0.5px
        overflow hidden
        cursor none
        *
            cursor none

@import './partials/container.styl'
@import './partials/mouse.styl'